%h3.card-title.mb-4= t("devise.confirmations.new.resend_confirmation_instructions")
= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "row gy-3" }) do |f|
  = render "devise/shared/error_messages", resource: resource
  = f.input :email, autofocus: true, autocomplete: "email", required: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
  .actions.d-grid
    = f.button :submit, t("devise.confirmations.new.resend_confirmation_instructions"), class: "btn-primary"
= render "devise/shared/links"
