-# frozen_string_literal: true

.mb-2
  = simple_form_for(@post_category) do |f|
    = render "common/form_errors", f: f

    = f.input :title
    = f.input :description

    .form-actions
      = f.button :submit, t("save"), class: "btn btn-primary my-2"
