-# frozen_string_literal: true

.mb-2
  = simple_form_for(@post_category) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    = f.input :title
    = f.input :description

    .form-actions
      = f.button :submit, t("save"), class: "btn btn-primary my-2"
