%h1= t("posts.categories.title")

= render "common/add", link: new_post_category_path if can? :create, PostCategory
= render "common/paging", resource: @post_categories

%table.table
  %thead
    %tr
      %th
      %th= t("title")
      %th= t("description")
      %th
      %th

  %tbody
    - @post_categories.each do |post_category|
      %tr
        %td
          .badge.bg-secondary= post_category.posts_published.count
        %td= link_to post_category.title, post_category
        %td= post_category.description
        - if can? :edit, post_category
          %td= link_to t("edit"), edit_post_category_path(post_category)
        - if (can? :destroy, post_category) && post_category.posts.empty? 
          %td= link_to t("destroy"), post_category, method: :delete, data: { confirm: t("are_you_sure") }

= render "common/paging", resource: @post_categories
= render "common/add", link: new_post_category_path if can? :create, PostCategory
