= provide(:title, t("users.all_users"))
%h1= t("users.all_users")

= paginate @users, outer_window: 3, window: 1, class: "mb-2"

= search_form_for @q do |f|
  .row.g-2.my-2
    .col-sm-4
      = f.search_field :fullname_or_nickname_or_description_or_email_cont, placeholder: t("search_something"), class: "form-control"
    .col-sm
      = f.submit t("search"), class: "btn btn-secondary"

%table.table
  %thead
    %tr
      %th{:scope => "id"}= sort_link(@q, :id, "ID")
      %th{:scope => "avatar"}
      %th{:scope => "nickname"}= sort_link(@q, :nickname, t("users.nickname"))
      %th{:scope => "fullname"}= sort_link(@q, :fullname, t("users.fullname"))
      %th{:scope => "email"}= sort_link(@q, :email, t("users.email"))
      - if User.current_user.admin?
        %th{:scope => "role"}= sort_link(@q, :role, t("users.role"))
      %th{:scope => "description"}= t("users.description")
      %th= t("users.posts_count")
      %th
  %tbody
    - @users.each do |user|
      %tr
        %th{:scope => "row"}= user.id
        %td= cl_image_tag(user.avatar_key, width: 32, height: 32, crop: :scale, class: "img-thumbnail")
        %td= link_to user.nickname, user_path(user)
        %td= user.fullname
        %td= user.email
        - if User.current_user.admin?
          %td= user.role
        %td= user.description
        %td
          %span.badge.bg-secondary= user.posts(only_published = true).count
        %td
          - if can? :destroy, user
            = link_to user_path(user), method: :delete, data: { confirm: t("are_you_sure") } do
              %i.bi.bi-trash.text-danger

= paginate @users, outer_window: 3, window: 1, class: "mt-2"