= provide(:title, t('users.all_users'))
%h1= t('users.all_users')
= paginate @users, outer_window: 3, window: 1, class: "mb-2"
.list-group.list-group-flush
	- @users.each do |user|
		= link_to user.email, user_path(user), class: "list-group-item list-group-item-action"
= paginate @users, outer_window: 3, window: 1, class: "mt-2"