= provide(:title, t("users.all_users"))
%h1= t("users.all_users")
= paginate @users, outer_window: 3, window: 1, class: "mb-2"
%table.table
  %thead
    %tr
      %th{:scope => "id"} #
      %th{:scope => "avatar"}
      %th{:scope => "nickname"}= t("users.nickname")
      %th{:scope => "fullname"}= t("users.fullname")
      %th{:scope => "email"}= t("users.email")
      %th{:scope => "role"}= t("users.role")
      %th{:scope => "description"}= t("users.description")
  %tbody
    - @users.each do |user|
      %tr
        %th{:scope => "row"}= user.id
        %td= cl_image_tag(user.avatar_key, width: 32, height: 32, crop: :scale, class: "img-thumbnail")
        %td= link_to user.nickname, user_path(user)
        %td= user.fullname
        %td= user.email
        %td= user.role
        %td= user.description
= paginate @users, outer_window: 3, window: 1, class: "mt-2"