%h3.card-title.mb-4= t("devise.passwords.new.forgot_your_password")
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "row gy-3" }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :email, class: "form-label"
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
  .actions.d-grid
    = f.submit t("devise.passwords.new.send_me_reset_password_instructions"), class: "btn btn-primary"
= render "devise/shared/links"
