%h3.card-title.mb-4= t('devise.sessions.new.sign_in')
= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "row gy-3" }) do |f|
  = f.input :email, autofocus: true, required: true, autocomplete: "email"
  = f.input :password, autocomplete: "current-password", required: true
  = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .actions.d-grid
    = f.button :submit, t('devise.sessions.new.sign_in'), class: "btn-primary"
= render "devise/shared/links"
