%h3.card-title.mb-4 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "row gy-3" }) do |f|
  .field
    = f.label :email, class: "form-label"
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
  .field
    = f.label :password, class: "form-label"
    = f.password_field :password, autocomplete: "current-password", class: "form-control"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me, class: "form-check-input"
      = f.label :remember_me, class: "form-check-label"
  .actions.d-grid
    = f.submit "Log in", class: "btn btn-primary"
= render "devise/shared/links"
