-# frozen_string_literal: true
= simple_form_for(@post, url: url) do |f|
  = render "common/form_errors", f: f
  .form-inputs.row.gy-2
    = f.input :category_id, label: t("category"), required: true, collection: PostCategory.all.collect {|c| [c.title, c.id]}
    = f.input :title
    = f.input :content, label: t("content")
    = f.input :tag_ids, label: t("tag_ids"), as: :select, collection: Tag.order(:name), label_method: :name, input_html: {multiple: true}
    .d-flex
      #current-photos
        - if @post.photos.attached?
          - @post.photos.each do |photo|
            - if photo.id
              %a{ href: cl_image_path(photo.key), target: "_blank" }
                = cl_image_tag(photo.key, width: 200, height: 200, class: "img-thumbnail")
        - if @post.photos_cache
          - @post.photos_cache.each do |photo|
            = image_tag(photo, width: 200, height: 200, class: "img-thumbnail")
    - if @post.photos.any?
      %br
      .form-group
        %div.form-check
          = f.input :remove_photos, as: :boolean, label: t("posts.remove_photos", count: @post.photos.count)
    #new-photos.d-flex
    = f.input :photos, label: t("photos"), direct_upload: true, input_html: { multiple: true, class: "form-control"}


  .form-actions.mt-3
    = f.button :submit, t("save"), class: "btn btn-primary my-2"
