%table.table
  %thead
    %tr
      %th
      %th= t("posts.title_one")
      %th= t("posts.category")
      %th= t("posts.author")
      %th= t("created_at")
      %th= t("tags")
      %th
      %th
      %th
  %tbody
    - posts.each do |post|
      %tr
        %td
          - if post.photos.any?
            %a{ href: cl_image_path(post.photos.first.key), target: "_blank" }
              = cl_image_tag(post.photos.first.key, width: 80)
        %td= link_to post.title, post_path(post)
        %td= post.category.title
        %td= post.author.nickname
        %td{ style: "white-space: nowrap" }= post.time_ago
        %td= post.tag_list
        %td= t('posts.states.' + post.aasm_state.to_s)
        %td
          = link_to t("edit"), edit_post_path(post) if can? :edit, post
        %td
          = link_to t("destroy"), post, method: :delete, data: { confirm: t("are_you_sure") } if can? :destroy, post
