- unless defined?(moderate)
  - moderate = false

= render "common/paging", resource: posts

- if moderate && User.current_user.admin?
  .row.row-cols-lg-auto.align-items-center.actions.my-3
    %label{ for: "action", class: "col-auto" }
      = t("posts.action") + ":"
    = select_tag :action, options_for_select([[t("select") + "...", ""], [t("posts.actions.approve"), "approve"], [t("posts.actions.reject"), "reject"], [t("posts.actions.ban"), "ban"], [t("posts.actions.delete"), "delete"]], params[:param_name]), class: "form-select form-select-sm col-auto"
    .button{ class: "btn btn-primary col-auto btn-sm ms-2", onclick: "postAction()" }
      = t("execute")

- if defined?(@q)
  = search_form_for @q, url: request.path do |f|
    .row.g-2.my-2
      .col-sm-4
        = f.search_field :title_or_content_or_tags_name_cont, placeholder: t("search_something"), class: "form-control"
      .col-sm
        = f.submit t("search"), class: "btn btn-secondary"

%table.table.adv-list
  %thead
    %tr
      %th
      - if moderate && User.current_user.admin?
        %th
      - if defined?(@q)
        %th= sort_link(@q, :title, t("posts.title_one"))
        %th= sort_link(@q, :category, t("posts.category"))
        %th= sort_link(@q, :author, t("posts.author"))
        %th= sort_link(@q, :published_at, t("published_at"))
      - else
        %th= t("posts.title_one")
        %th= t("posts.category")
        %th= t("posts.author")
        %th= t("published_at")
        %th= t("created_at")
      %th= t("tags")
      - if User.current_user.admin?
        %th
      %th
      %th
      %th
  %tbody
    - posts.each do |post|
      %tr{ "data-id" => post.id }
        - if moderate && User.current_user.admin?
          %td
            %input{ class: "form-check-input", type: "checkbox" }
        %td
          - if post.photos.any?
            %a{ href: cl_image_path(post.photos.first.key), target: "_blank" }
              = cl_image_tag(post.photos.first.key, width: 80)
        %td= link_to post.title, post_path(id: post.id)
        %td= link_to post.category.title, post_category_path(id: post.category.id)
        %td= link_to post.author.nickname, user_path(id: post.author.id)
        %td.time= post.time_ago
        %td.time= post.created
        %td.tags
          = render "posts/post_tags", post: post
        %td{ id: "current-state-" + post.id.to_s }= t('posts.states.' + post.aasm_state.to_s)
        - if User.current_user.admin?
          %td#state
            %div{ id: "state-dropdown-" + post.id.to_s }
              = render "posts/state_dropdown", post: post
        %td
          - if can? :edit, post
            = link_to edit_post_path(id: post.id) do
              %i.bi.bi-pencil.text-info
        %td
          - if can? :destroy, post
            = link_to post_path(id: post.id), method: :delete, data: { confirm: t("are_you_sure") } do
              %i.bi.bi-trash.text-danger

= render "common/paging", resource: posts
