
- if defined?(@q)
  = search_form_for @q, url: request.path do |f|
    .row.g-2.my-2
      .col-sm-4
        = f.search_field :title_or_content_cont, placeholder: t("search_something"), class: "form-control"
      .col-sm
        = f.submit t("search"), class: "btn btn-secondary"

%table.table
  %thead
    %tr
      %th
      - if defined?(@q)
        %th= sort_link(@q, :title, t("posts.title_one"))
        %th= sort_link(@q, :category, t("posts.category"))
        %th= sort_link(@q, :author, t("posts.author"))
        %th= sort_link(@q, :published_at, t("published_at"))
      - else
        %th= t("posts.title_one")
        %th= t("posts.category")
        %th= t("posts.author")
        %th= t("created_at")
      %th= t("tags")
      - if User.current_user.admin?
        %th
      %th
      %th
      %th
  %tbody
    - posts.each do |post|
      %tr
        %td
          - if post.photos.any?
            %a{ href: cl_image_path(post.photos.first.key), target: "_blank" }
              = cl_image_tag(post.photos.first.key, width: 80)
        %td= link_to post.title, post_path(post)
        %td= post.category.title
        %td= post.author.nickname
        %td{ style: "white-space: nowrap" }= post.time_ago
        %td= post.tag_list
        %td{ id: "current-state-" + post.id.to_s }= t('posts.states.' + post.aasm_state.to_s)
        - if User.current_user.admin?
          %td#state
            %div{ id: "state-dropdown-" + post.id.to_s }
              = render "posts/state_dropdown", post: post
        %td
          = link_to t("edit"), edit_post_path(post) if can? :edit, post
        %td
          = link_to t("destroy"), post, method: :delete, data: { confirm: t("are_you_sure") } if can? :destroy, post
