%table.table
  %thead
    %tr
      %th= t("posts.title_one")
      %th= t("posts.category")
      %th= t("posts.author")
      %th= t("created_at")
      %th= t("tags")
      %th
      %th

  %tbody
    - posts.each do |post|
      %tr
        %td= link_to post.title, post_path(post)
        %td= post.category.title
        %td= post.author.nickname
        %td= time_ago_in_words(post.published_at)
        %td= post.tag_list
        %td= link_to t("edit"), edit_post_path(post)
        %td= link_to t("destroy"), post, method: :delete, data: { confirm: t("are_you_sure") }
