%p#notice= notice

%p
  %b= t("created_at")
  = @post.created_at.strftime("%D %H:%M")

- if @post.published_at
  %p
    %b= t("published_at")
    = @post.published_at.strftime("%D %H:%M")
%p
  %b= t("posts.author")
  = link_to @post.author.nickname, @post.author
%p
  %b= t("posts.category")
  = link_to @post.category.title, @post.category
%p
  %b= t("title")
  = @post.title
%p
  %b= t("posts.content")
  = @post.content
%p
  %b= t("tags")
  %small
    = raw @post.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ')
- if @post.photos.any?
  %p
    - @post.photos.each do |photo|
      %a{ href: cl_image_path(photo.key), target: "_blank" }
        = cl_image_tag(photo.key, width: 200, height: 200, class: "img-thumbnail")

- if can? :update, @post
  = link_to t("edit"), edit_post_path(@post), class: "btn btn-primary mr-2"
= link_to t("back"), posts_path, class: "btn btn-secondary"
