!!!
%html
  %head
    = render "layouts/head"
  %body
    = render "layouts/navbar"
    = render "common/flash"
    = render "layouts/notice"
    .container-fluid.content
      = yield
    = render "common/footer"
