!!!
%html
  %head
    = render "layouts/head"
  %body
    = render "layouts/navbar"
    = render "common/flash"
    .container-fluid.content
      = yield
    = render "common/footer"
    :javascript
      $(document).on('ready page:load', function () {
        $('#post_tag_ids').chosen({
          allow_single_deselect: true,
          width: '100%'
        })
      });