!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= full_title(yield(:title))
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.sticky-top.navbar-light.bg-light
      .container-fluid
        %a.navbar-brand{:href => "/"} Home  
        %ul.navbar-nav.me-auto
        - if user_signed_in?
          %span.navbar-text.me-2 Logged in as 
          = succeed "." do
            %strong= current_user.email
          = link_to "Edit profile", edit_user_registration_path, :class => 'nav-link'
          = link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'
        - else
          = link_to "Sign up", new_user_registration_path, :class => 'nav-link'
          = link_to "Login", new_user_session_path, :class => 'nav-link'

    .container-fluid.w-100.my-3
      - if notice
        .alert.alert-info
          = notice
      - if alert
        .alert.alert-danger
          = alert
    .container-fluid.content
      = yield
