!!!
%html
  %head
    = render "layouts/head"
  %body.bg-light
    = render "common/flash"
    .container.auth.content
      .row.h-100.align-items-center
        .col-12.col-md-6.offset-md-3.col-lg-4.offset-lg-4.card.py-4
          = render "layouts/notice"
          .card-body.devise
            = yield
        .d-flex.justify-content-center
          = link_to t("home"), root_path, class: "btn btn-secondary my-3"
  }
      
